@import "tailwindcss";

@theme {
    --color-op-darkBlue: #142132;
    --color-op-green: #A8E02D;
    --color-op-white: rgb(255 255 255);
    --color-op-white-25: rgb(255 255 255 / 25%);
    --color-op-white-10: rgb(255 255 255 / 10%);
}

body {
    font-weight: 400;
    font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body .cursor-element,
body .cursor-element * {
    pointer-events: none;
}

.op-bg-glow {
    /*background: linear-gradient(135deg, #19adce 80%, #00000000 100%);*/
    position: fixed;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    mix-blend-mode: screen;
    top: 10%;
    right: 0;
    filter: blur(300px);
}

body .cursor-element {
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 99999;
}

body .cursor-element span {
    position: fixed;
    border: 1px solid var(--color-op-white-25);
    border-radius: 100%;
    background: transparent;
    opacity: 0.7;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 20;
    transition: 0.62s;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: top left;
    transition-timing-function: cubic-bezier(0.19, 0.58, 0.58, 0.93);
}

body .cursor-element .cursor-glow {
    position: fixed;
    pointer-events: none;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100%;
    z-index: 10;
    opacity: 0;
    transform: scale(1) translateX(-50%) translateY(-50%);
    transform-origin: top left;
    filter: blur(32px);
    transition: all 0.64s, opacity 0.6s, width 0.68s, height 0.68s, left 0s, top 0s;
    transition-timing-function: cubic-bezier(0.19, 0.58, 0.58, 0.93);
    transition-delay: 0.2s;
}

body .cursor-element .cursor-glow.active {
    filter: blur(40px);
    width: 32px;
    height: 32px;
    opacity: 1;
    transition-delay: 0s;
    transition: all 1s, opacity 1.24s, width 0.6s, height 0.6s, left 0s, top 0s;
}

body .cursor-element .cursor-glow.active+span {
    background: #fff;
    opacity: 0.82;
    transform: scale(0.42) translateX(-50%) translateY(-50%);
    box-shadow: 0 0px 21px 4px #a7e02dc4;
    transition: 0.32s ease;
    transition-delay: 0.08s;
}



.this-animate {
    transform-origin: right center;
    /* important */
    transform: scaleX(0.5);
    /* initial 50% */
    will-change: transform;
    backface-visibility: hidden;
}