@import "tailwindcss";

body {
    margin: 0px;
    padding: 0px;
    background: #0a0f16;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}

/* .op-bg-effect {
    background: linear-gradient(135deg, rgb(25 173 206 / 20%) 0%, rgba(0, 0, 0, 0) 100%);

} */

.about-section {
    height: 400vh;
}

/* .op-nav-items {
    background-color: rgb(255 255 255 / 25%);
} */